.dhx_cal_tab {
background-color: white;
border-color: #EC1F27;
color: #EC1F27;
margin-right: 1px;
border-radius: 5px !important;
border-left-style: solid !important;
}
.dhx_cal_tab:hover {
background-color:#F04C53;
border-color: #EC1F27;
color: white;
}
.dhx_cal_tab.active {
background-color: #EC1F27;
color: white;
border-radius: 5px;
}
.event {
background-color: #EC1F27;
color: white;
border-radius: 5px;
font-weight: bold;
}
.event:hover {
background-color: #F04C53;
}
.event::before {
display: none;
}
.dhx_cal_agenda_event_line_marker {
display: none;
}
.dhx_cal_agenda_event_line {
height: fit-content;
flex-wrap: wrap;
row-gap: 2px;
}
.dhx_cal_agenda_event_line_time {
text-align: left;
}
.dhx_cal_agenda_day_events {
display: flex;
flex-direction: column;
gap: 10px;
}
.dhx_cal_event {
background-color: #F04C53;
color: white;
border-radius: 5px;
font-weight: bold;
}
.dhx_cal_event:hover {
background-color: #EC1F27;
}
.dhx_cal_event_line_content {
padding: 2px 5px;
font-size: 12px;
}
.dhtmlXTooltip.scheduler_tooltip.tooltip {
display: none;
}
.dhx_cal_today_button {
background-color: white;
color: #EC1F27;
}
.dhx_cal_today_button:hover {
background-color:#EC1F27;
border-color: #EC1F27;
border-radius: 5px;
color: white;
}
.dhx_scale_bar {
color: #605C5C;
}
.dhx_cal_date {
color: #3B3838;
}
.dhx_cal_qi_controls {
color: #EC1F27;
}
.dhx_month_head {
color: #3B3838;
}
.dhx_cal_prev_button::before {
color: #605C5C;
}
.dhx_cal_prev_button:hover::before {
color: #3B3838;
}
.dhx_cal_next_button::before {
color: #605C5C;
}
.dhx_cal_next_button:hover::before {
color: #3B3838;
}
.dhx_cal_month_cell {
border-color: #C1C0BF;
}
.dhx_cal_quick_info {
border-radius: 5px;
border: 1px solid black;
background-color: white;
width: 60%;
max-height: 60%;
padding: 10px;
overflow-y: scroll;
}
.dhx_cal_qi_tcontent::before {
display: none;
}
.dhx_cal_qi_tcontent {
color: #EC1F27;
}
.dhx_cal_qi_content .details {
text-wrap: wrap;
overflow-x: hidden;
}
.dhx_scale_holder_now {
background-color: #fef6f7;
}
.dhx_qi_big_icon.icon_subscribe .dhx_menu_icon.icon_subscribe,
.dhx_qi_big_icon.icon_subscribe {
color: #EC1F27 !important;
}
.dhx_menu_icon.icon_subscribe {
background-color: #EC1F27 !important;
}
.hamburger-menu {
display:none;
}
